.center {
    margin-left: auto;
    margin-right: auto;
}

table,
th,
td {
    border: 3px black solid;
    text-align: center;
}

body {
    text-align: center;
}

.multicolortext {
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}